---
name: cargo build - no docker

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      distribution:
        required: true
        type: string
      archive-name:
        required: true
        type: string
      artifacts:
        required: false
        type: string
      target:
        required: true
        type: string
      debug_or_release:
        required: true
        type: string
      features:
        required: false
        type: string
      skip_services_tests:
        required: false
        type: string
      prerequisites:
        required: false
        type: string
      docker_compose:
        required: false
        type: boolean
        default: false

env:
  OPENSSL_DIR: /usr/local/openssl

jobs:
  build:
    name: ${{ inputs.archive-name }}
    runs-on: ${{ inputs.distribution }}
    steps:
      - name: Display cpuinfo
        if: contains(runner.os, 'Linux')
        run: cat /proc/cpuinfo

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Checkout reusable_scripts repo
        uses: actions/checkout@v4
        with:
          repository: Cosmian/reusable_scripts
          path: Cosmian/reusable_scripts

      - run: |
          sudo mkdir -p ${{ env.OPENSSL_DIR }}/ssl
          sudo mkdir -p ${{ env.OPENSSL_DIR }}/lib64/ossl-modules
          sudo chown -R $USER ${{ env.OPENSSL_DIR }}
          bash .github/scripts/get_openssl_binaries.sh ${{ github.repository }}
        env:
          OS_NAME: ${{ inputs.archive-name }}

      - name: Prerequisites
        if: ${{ inputs.prerequisites }}
        run: |
          set -ex
          ${{ inputs.prerequisites }}

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.toolchain }}
          components: rustfmt, clippy

      - name: Run docker containers
        if: ${{ inputs.docker_compose }}
        run: |
          docker compose -h
          docker compose up -d

      - name: Build and tests
        env:
          OPENSSL_DIR: ${{ env.OPENSSL_DIR }}

          POSTGRES_USER: kms
          PGUSER: kms
          POSTGRES_PASSWORD: kms
          POSTGRES_DB: kms
          KMS_POSTGRES_URL: postgresql://kms:kms@127.0.0.1:5432/kms

          MYSQL_DATABASE: kms
          MYSQL_ROOT_PASSWORD: kms
          KMS_MYSQL_URL: mysql://kms:kms@localhost:3306/kms

          KMS_SQLITE_PATH: data/shared

          # Google variables
          TEST_GOOGLE_OAUTH_CLIENT_ID: ${{ secrets.TEST_GOOGLE_OAUTH_CLIENT_ID }}
          TEST_GOOGLE_OAUTH_CLIENT_SECRET: ${{ secrets.TEST_GOOGLE_OAUTH_CLIENT_SECRET }}
          TEST_GOOGLE_OAUTH_REFRESH_TOKEN: ${{ secrets.TEST_GOOGLE_OAUTH_REFRESH_TOKEN }}
          GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY }}

          TARGET: ${{ inputs.target }}
          DEBUG_OR_RELEASE: ${{ inputs.debug_or_release }}
          FEATURES: ${{ inputs.features }}
          SKIP_SERVICES_TESTS: ${{ inputs.skip_services_tests }}
        run: |
          bash .github/scripts/cargo_build.sh ${{ github.repository }}

      - name: Remove large files before saving cache
        run: |
          find target/ -type f -size +100M -delete

      - name: Upload for ${{ inputs.distribution }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.archive-name }}-${{ inputs.debug_or_release }}
          path: |
            target/${{ inputs.target }}/${{ inputs.debug_or_release }}/cosmian
            target/${{ inputs.target }}/${{ inputs.debug_or_release }}/cosmian_gui
            target/${{ inputs.target }}/${{ inputs.debug_or_release }}/cosmian_kms
            target/${{ inputs.target }}/${{ inputs.debug_or_release }}/cosmian_findex_server
            target/${{ inputs.target }}/debian/*.deb
            ${{ inputs.artifacts }}
          retention-days: 1
          if-no-files-found: error

  test:
    needs: build
    name: Clean env. ${{ inputs.archive-name }}
    runs-on: ${{ inputs.distribution }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.archive-name }}-${{ inputs.debug_or_release }}

      - run: find .
        if: contains(runner.os, 'linux')

      - name: Linux launch binaries
        run: |
          set -ex
          # The current path should be /home/runner/work/kms/kms
          pwd
          env
          find . -type f

          if [ -d usr/local/openssl ]; then
            # Copy openssl build for Legacy mode
            sudo mkdir /usr/local/openssl
            sudo chown -R $USER /usr/local/openssl
            rsync -ru usr/local/openssl/ /usr/local/openssl/
            find /usr/local/openssl
            chmod u+x /usr/local/openssl/*/ossl-modules/*
          fi

          # There are 2 subdirectories in the current path
          #   usr/local/openssl/
          #   home/runner/work/kms/kms/target/
          KMS_PATH="${GITHUB_WORKSPACE}/target/${{ inputs.target }}/${{ inputs.debug_or_release }}"

          for binary in .$KMS_PATH/cosmian*; do
            if [ -f "$binary" ]; then
              chmod u+x "$binary"
              $binary -V
            fi
          done
