---
name: Build all

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      debug_or_release:
        required: true
        type: string
  workflow_dispatch:

jobs:
  rockylinux9:
    name: rocky linux 9.3
    uses: ./.github/workflows/build_rocky.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: rockylinux9
      target: x86_64-unknown-linux-gnu
      debug_or_release: ${{ inputs.debug_or_release }}
      docker_image: cosmian/rockylinux9
      artifacts: |
        /usr/local/openssl/lib64/ossl-modules/legacy.so

  rockylinux8:
    if: inputs.debug_or_release == 'release'
    name: rocky linux 8.9
    uses: ./.github/workflows/build_rocky.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: rockylinux8
      target: x86_64-unknown-linux-gnu
      debug_or_release: ${{ inputs.debug_or_release }}
      docker_image: cosmian/rockylinux8
      artifacts: |
        /usr/local/openssl/lib64/ossl-modules/legacy.so

  linux-mac:
    strategy:
      fail-fast: false
      matrix:
        include:
          - distribution: ubuntu-22.04
            archive-name: fips_ubuntu_22_04
            target: x86_64-unknown-linux-gnu
            artifacts: |
              /usr/local/openssl/lib64/ossl-modules/fips.so
              /usr/local/openssl/ssl/openssl.cnf
              /usr/local/openssl/ssl/fipsmodule.cnf
            features: fips
            docker_compose: true
            prerequisites: |
              sudo apt-get update
              sudo apt-get install -qq librust-atk-sys-dev librust-gdk-sys-dev pkg-config jq

          - distribution: ubuntu-24.04
            archive-name: ubuntu_24_04
            target: x86_64-unknown-linux-gnu
            artifacts: |
              /usr/local/openssl/lib64/ossl-modules/legacy.so
            docker_compose: true
            prerequisites: |
              sudo apt-get update
              sudo apt-get install -qq libgtk-3-dev libglib2.0-dev pkg-config jq

          - distribution: macos-15
            archive-name: macos_arm
            target: aarch64-apple-darwin
            artifacts: |
              /usr/local/openssl/lib/ossl-modules/legacy.dylib
            skip_services_tests: --skip test_mysql --skip test_postgresql --skip test_redis --skip google_cse --skip hsm --skip findex_server --skip redis
            docker_compose: false

    name: ${{ matrix.distribution }}
    uses: ./.github/workflows/build_generic.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      distribution: ${{ matrix.distribution }}
      archive-name: ${{ matrix.archive-name }}
      artifacts: ${{ matrix.artifacts }}
      target: ${{ matrix.target }}
      debug_or_release: ${{ inputs.debug_or_release }}
      features: ${{ matrix.features }}
      skip_services_tests: ${{ matrix.skip_services_tests }}
      prerequisites: ${{ matrix.prerequisites }}
      docker_compose: ${{ matrix.docker_compose }}

  linux-mac-release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - distribution: ubuntu-22.04
            archive-name: ubuntu_22_04
            target: x86_64-unknown-linux-gnu
            artifacts: |
              /usr/local/openssl/lib64/ossl-modules/legacy.so
            prerequisites: |
              sudo apt-get update
              sudo apt-get install -qq librust-atk-sys-dev librust-gdk-sys-dev pkg-config jq
            docker_compose: true

    name: ${{ matrix.distribution }}
    if: inputs.debug_or_release == 'release'
    uses: ./.github/workflows/build_generic.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      distribution: ${{ matrix.distribution }}
      archive-name: ${{ matrix.archive-name }}
      target: ${{ matrix.target }}
      debug_or_release: ${{ inputs.debug_or_release }}
      artifacts: ${{ matrix.artifacts }}
      prerequisites: ${{ matrix.prerequisites }}
      docker_compose: ${{ matrix.docker_compose }}

  windows-2022:
    uses: ./.github/workflows/build_windows.yml
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: windows
      debug_or_release: ${{ inputs.debug_or_release }}

  cleanup:
    needs:
      - rockylinux8
      - rockylinux9
      - linux-mac
      - linux-mac-release
      - windows-2022
    uses: ./.github/workflows/cleanup_cache.yml
    secrets: inherit
