---
name: Build all

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      debug_or_release:
        required: true
        type: string
  workflow_dispatch:

jobs:
  rhel9:
    name: RHEL9 
    uses: ./.github/workflows/build_rhel9.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: rhel9
      target: x86_64-unknown-linux-gnu
      debug_or_release: ${{ inputs.debug_or_release }}
      artifacts: |
        /usr/local/openssl/lib64/ossl-modules/legacy.so

  generic:
    strategy:
      fail-fast: false
      matrix:
        include:
          - distribution: ubuntu-22.04
            archive-name: fips_ubuntu_22_04
            target: x86_64-unknown-linux-gnu
            artifacts: |
              /usr/local/openssl/lib64/ossl-modules/fips.so
              /usr/local/openssl/ssl/openssl.cnf
              /usr/local/openssl/ssl/fipsmodule.cnf
            features: fips
            docker_compose: true
            prerequisites_cli: |
              sudo apt-get update
              sudo apt-get install -qq librust-atk-sys-dev librust-gdk-sys-dev pkg-config jq
            skip_services_tests_findex_server : --skip hsm

          - distribution: ubuntu-24.04
            archive-name: ubuntu_24_04
            target: x86_64-unknown-linux-gnu
            artifacts: |
              /usr/local/openssl/lib64/ossl-modules/legacy.so
            docker_compose: true
            prerequisites_cli: |
              sudo apt-get update
              sudo apt-get install -qq libgtk-3-dev libglib2.0-dev pkg-config jq
            skip_services_tests_findex_server : --skip hsm

          - distribution: macos-13
            archive-name: macos_intel
            target: x86_64-apple-darwin
            docker_compose: false
            skip_services_tests_cli: --skip findex_server --skip hsm

          - distribution: macos-14
            archive-name: macos_arm
            target: aarch64-apple-darwin
            artifacts: |
              /usr/local/openssl/lib/ossl-modules/legacy.dylib
            docker_compose: false
            skip_services_tests_kms: --skip test_mysql --skip test_postgresql --skip test_redis --skip google_cse --skip hsm --skip findex_server
            skip_services_tests_cli: --skip findex_server --skip hsm
            skip_services_tests_findex_server : --skip findex_server --skip hsm --skip memory_adt --skip test_encrypt --skip redis

    name: ${{ matrix.distribution }}
    uses: ./.github/workflows/build_generic.yml
    secrets: inherit
    with:
      toolchain: ${{ inputs.toolchain }}
      distribution: ${{ matrix.distribution }}
      archive-name: ${{ matrix.archive-name }}
      target: ${{ matrix.target }}
      debug_or_release: ${{ inputs.debug_or_release }}
      skip_services_tests_kms: ${{ matrix.skip_services_tests_kms }}
      skip_services_tests_cli: ${{ matrix.skip_services_tests_cli }}
      skip_services_tests_findex_server: ${{ matrix.skip_services_tests_findex_server }}
      artifacts: ${{ matrix.artifacts }}
      features: ${{ matrix.features }}
      docker_compose: ${{ matrix.docker_compose }}
      prerequisites_cli: ${{ matrix.prerequisites_cli }}

  windows-2022:
    if: inputs.debug_or_release == 'release'
    uses: ./.github/workflows/build_windows.yml
    with:
      toolchain: ${{ inputs.toolchain }}
      archive-name: windows
      debug_or_release: ${{ inputs.debug_or_release }}

  cleanup:
    needs:
      - rhel9
      - generic
      - windows-2022
    uses: ./.github/workflows/cleanup_cache.yml
    secrets: inherit
