---
name: Cargo audit

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string

jobs:
  audit:
    name: Audit
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          override: true

      - run: |
          cargo install cargo-audit
          cargo install cargo-outdated --version 0.11.2

      - name: Verify outdated dependencies
        uses: actions-rs/cargo@v1
        with:
          command: outdated
          args: -wR

      - name: Verify deprecated dependencies
        uses: actions-rs/cargo@v1
        with:
          command: audit
