---
name: Cargo benchmarks

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      features:
        required: true
        type: string

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Install gnuplot
        run: |
          sudo apt update
          sudo apt install -y gnuplot

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          override: true

      - name: Benchmarks build but do not run
        uses: actions-rs/cargo@v1
        with:
          command: bench
          args: --features ${{ inputs.features}} --no-run

      - name: Benchmarks
        if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: actions-rs/cargo@v1
        with:
          command: bench
          args: --features ${{ inputs.features}}
