---
name: Cargo lints & tests

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string

jobs:
  cargo-lint:
    uses: ./.github/workflows/cargo-lint.yml
    with:
      toolchain: ${{ inputs.toolchain }}
  # cargo-semver:
  #   uses: ./.github/workflows/cargo-semver.yml
  #   with:
  #     toolchain: ${{ inputs.toolchain }}
  # cargo-audit:
  #   uses: ./.github/workflows/cargo-audit.yml
  #   with:
  #     toolchain: ${{ inputs.toolchain }}
  cargo-udeps:
    uses: ./.github/workflows/cargo-udeps.yml
  cargo-dry-publish:
    uses: ./.github/workflows/cargo-publish.yml
    with:
      toolchain: ${{ inputs.toolchain }}
      publish: false
