---
name: Cargo udeps

on:
  workflow_call:

jobs:
  udeps:
    name: Check udeps
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - name: Set up cargo cache
        id: github-cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-udeps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-cargo-udeps-${{ hashFiles('**/Cargo.lock') }}

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2023-06-27
          override: true

      - name: Install udeps
        if: steps.github-cache.outputs.cache-hit != 'true'
        run: cargo install cargo-udeps --version 0.1.40

      - name: Verify useless dependencies
        run: |
          cargo +nightly-2023-06-27 udeps --workspace --all-targets --all-features
