---
name: Cargo doc

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string

jobs:
  doc:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.toolchain }}
          components: rustfmt, clippy

      - name: Check doc
        run: cargo doc --all-features
