---
name: Cargo lints & tests

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      exclusions:
        required: false
        type: string
        default: ''

jobs:
  cargo-lint:
    uses: ./.github/workflows/cargo-lint.yml
    with:
      toolchain: ${{ inputs.toolchain }}
      exclusions: ${{ inputs.exclusions }}
  cargo-audit:
    uses: ./.github/workflows/cargo-audit.yml
    with:
      toolchain: ${{ inputs.toolchain }}
