---
name: Cargo udeps

on:
  workflow_call:

jobs:
  udeps:
    name: Check udeps
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Install udeps
        run: cargo install --locked cargo-udeps || true

      - name: Verify useless dependencies
        run: |
          cargo +nightly udeps --workspace --all-targets --all-features
