---
name: Cargo benchmarks

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string
      features:
        required: true
        type: string
      force:
        required: false
        default: false
        type: boolean

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up cargo cache
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            pkg/
            target/
          key: ${{ runner.os }}-${{ inputs.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: ${{ runner.os }}-${{ inputs.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install tooling for benchmarks
        run: |
          sudo apt update
          sudo apt install -y gnuplot
          cargo install --locked criterion-table || true
          cargo install --locked cargo-criterion || true

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ inputs.toolchain }}
          override: true

      - run: cat /proc/cpuinfo

      - name: Benchmarks build but do not run
        uses: actions-rs/cargo@v1
        with:
          command: criterion
          args: --features ${{ inputs.features }} --no-run

      - name: Benchmarks
        if: inputs.force
        run: |
          cargo criterion --features ${{ inputs.features }} --message-format=json | criterion-table > BENCHMARKS.md

      - name: Upload benchmarks
        if: inputs.force
        uses: actions/upload-artifact@v3
        with:
          name: benchmarks_${{ inputs.features }}
          path: BENCHMARKS.md
          retention-days: 1
          if-no-files-found: error
