---
name: Cargo lint

on:
  workflow_call:
    inputs:
      toolchain:
        required: true
        type: string

env:
  OPENSSL_DIR: /usr/local/openssl

jobs:
  lint:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Checkout reusable_scripts repo
        uses: actions/checkout@v4
        with:
          repository: Cosmian/reusable_scripts
          path: Cosmian/reusable_scripts
          ref: develop

      - name: Cache dependencies
        id: cargo_cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ runner.os }}

      - name: Local OpenSSL FIPS Install
        run: |
          sudo chown -R $USER:$USER /usr/local
          bash Cosmian/reusable_scripts/.github/scripts/get_openssl_binaries.sh
        env:
          OS_NAME: ubuntu_22_04

      - name: Install Klask prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -qq librust-atk-sys-dev librust-gdk-sys-dev libssl-dev pkg-config

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ inputs.toolchain }}
          components: rustfmt, clippy

      # Ensure all code has been formatted with rustfmt
      - name: Check formatting
        run: cargo +${{ inputs.toolchain }} fmt --all -- --check --color always

      - name: Static analysis
        run: cargo clippy --workspace --all-targets -- -D warnings
        env:
          OPENSSL_DIR: ${{ env.OPENSSL_DIR }}

      - name: Static analysis all features
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings
        env:
          OPENSSL_DIR: ${{ env.OPENSSL_DIR }}
