---
name: Cloudproof Java Library

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      target:
        required: true
        type: string
      extension:
        required: true
        type: string
      destination:
        required: true
        type: string
      os:
        required: true
        type: string
      copy_regression_files:
        required: false
        default: ''
        type: string
      regression_files:
        required: false
        default: ''
        type: string
      copy_fresh_build:
        required: false
        default: true
        type: boolean

jobs:
  java-job:
    name: cloudproof_java on ${{ inputs.os }}

    runs-on: ${{ inputs.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Cosmian/cloudproof_java
          ref: ${{ inputs.branch }}

      - name: Cache build
        uses: actions/cache@v3
        continue-on-error: false
        with:
          path: |
            ~/.m2/repository
            target
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Set up JDK 8 for x64
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: adopt
          architecture: x64

      - uses: actions/setup-python@v3
        with:
          python-version: 3.7
      - run: python scripts/get_native_libraries.py

      - uses: actions/download-artifact@v3

      - name: copy fresh build of crate
        if: inputs.copy_fresh_build
        run: cp ${{ inputs.target }}/${{ inputs.target }}/release/*.${{ inputs.extension }} src/main/resources/${{ inputs.destination }}/

      - name: copy non-regression test vectors
        if: inputs.copy_regression_files != ''
        run: ${{ inputs.copy_regression_files }}

      - run: mvn package -Dtest="!TestFindexCloud,!TestRedis,!Redis,!TestConditionalUpsert,!TestDemo,!TestNativeCoverCrypt,!TestKmsCoverCrypt,Test*"
        env:
          LANG: en_US.UTF-8
          LANGUAGE: en_US:en
          LC_ALL: en_US.UTF-8

      - name: Upload non-regression test vectors
        if: inputs.regression_files != ''
        uses: actions/upload-artifact@v3
        with:
          name: cloudproof_java
          path: ${{ inputs.regression_files }}
          retention-days: 1
          if-no-files-found: error
