---
name: Cloudproof Python Library

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      target:
        required: true
        type: string
      copy_regression_files:
        required: false
        default: ''
        type: string
      regression_files:
        required: false
        default: ''
        type: string

jobs:
  python-job:
    name: cloudproof_python on ${{ inputs.os }}

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Cosmian/cloudproof_python
          ref: ${{ inputs.branch }}

      - uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - uses: actions/download-artifact@v3
      - run: find .

      - name: copy non-regression test vectors
        if: inputs.copy_regression_files != ''
        run: ${{ inputs.copy_regression_files }}

      - name: Install Cloudproof python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m build
          pip install dist/cloudproof_py*.whl
          pip install python-${{ inputs.target }}/*.whl
      - name: Run tests
        run: |
          python -m unittest tests/test*.py
          python tests/non_regression_cover_crypt.py --test --write

      - name: Upload non-regression test vectors
        if: inputs.regression_files != ''
        uses: actions/upload-artifact@v3
        with:
          name: cloudproof_python
          path: ${{ inputs.regression_files }}
          retention-days: 1
          if-no-files-found: error
