---
name: Cloudproof Python Library

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      target:
        required: true
        type: string
      copy_regression_files:
        required: false
        default: ''
        type: string
      regression_files:
        required: false
        default: ''
        type: string
      kms-version:
        required: true
        type: string
      copy_fresh_build:
        required: false
        default: true
        type: boolean


jobs:
  python-job:
    name: cloudproof_python on ubuntu-20.04

    services:
      kms:
        image: cosmian/kms:${{ inputs.kms-version }}
        env:
          COSMIAN_SERVER_URL: http://localhost:9998
          KMS_PUBLIC_PATH: /tmp
          KMS_PRIVATE_PATH: /tmp
          KMS_SHARED_PATH: /tmp
        ports:
          - 9998:9998

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Cosmian/cloudproof_python
          ref: ${{ inputs.branch }}

      - uses: actions/setup-python@v4
        with:
          python-version: 3.8
          cache: pip   # caching pip dependencies

      - uses: actions/download-artifact@v3
      - run: find .

      - name: copy non-regression test vectors
        if: inputs.copy_regression_files != ''
        run: ${{ inputs.copy_regression_files }}

      - name: Build Cloudproof python and install deps
        env:
          COVER_CRYPT_TAG: last_build
          FINDEX_TAG: last_build
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python -m build
          scripts/ci_install_pyo3_builds.sh

      - name: Install fresh build of CoverCrypt and Findex
        if: inputs.copy_fresh_build
        run: |
          pip install --force-reinstall python-${{ inputs.target }}/*.whl

      - name: Install Cloudproof python
        run: |
          pip install dist/cloudproof_py*.whl

      - name: Run tests
        run: |
          python -m unittest tests/test*.py
          python tests/non_regression_cover_crypt.py --test --write

      - name: Upload non-regression test vectors
        if: inputs.regression_files != ''
        uses: actions/upload-artifact@v3
        with:
          name: cloudproof_python
          path: ${{ inputs.regression_files }}
          retention-days: 1
          if-no-files-found: error
