---
name: Cloudproof KMS Javascript Library

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      kms-version:
        required: true
        type: string
      fips:
        required: true
        type: boolean

jobs:
  js-job:
    name: cloudproof_kms_js on container node:18.0.0

    services:
      kms:
        image: ${{ inputs.kms-version }}
        env:
          COSMIAN_SERVER_URL: http://localhost:9998
          JWK_PRIVATE_KEY: '{"kty": "OKP","d": "MPEVJwdRqGM_qhJOUb5hR0Xr9EvwMLZGnkf-eDj5fU8","use": "enc","crv": "X25519","kid": "DX3GC+Fx3etxfRJValQNbqaB0gs=","x":
            "gdF-1TtAjsFqNWr9nwhGUlFG38qrDUqYgcILgtYrpTY","alg": "ECDH-ES"}'

    runs-on: ubuntu-20.04
    container: node:18.0.0

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Cosmian/cloudproof_kms_js
          ref: ${{ inputs.branch }}

      - name: Cache build
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-${{ github.ref_name }}-${{ hashFiles('package.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ github.ref_name }}-${{ hashFiles('package.json') }}

      - uses: actions/download-artifact@v3
      - run: find .

      - run: npm install

      - name: FIPS tests
        if: inputs.fips
        run: npm test -- fips

      - name: Generic tests
        if: inputs.fips != true
        run: npm test
        env:
          KMS_HOST: kms
