---
name: Cloudproof Flutter Library

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      target:
        required: true
        type: string
      extension:
        required: true
        type: string
      copy_regression_files:
        required: false
        default: ''
        type: string
      copy_fresh_build:
        required: false
        default: true
        type: boolean

jobs:
  flutter-job:
    name: cloudproof_flutter on macos-12

    runs-on: macos-12

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Cosmian/cloudproof_flutter
          ref: ${{ inputs.branch }}

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.3.4
          channel: stable

      - uses: actions/download-artifact@v3
      - run: find .

      - uses: actions/setup-python@v3
        with:
          python-version: 3.7

      - run: flutter pub get

      - run: python scripts/get_native_libraries.py

      - name: copy fresh build of crate
        if: inputs.copy_fresh_build
        run: |
          cp ${{ inputs.target }}/${{ inputs.target }}/release/*.${{ inputs.extension }} resources/
          cp ${{ inputs.target }}/universal/release/*.a ios/
          cp x86_64-unknown-linux-gnu/*.h resources/

        # Generate bindings in case of no binary found on package.cosmian.com
      - run: flutter pub run ffigen --config ffigen_cloudproof.yaml

      - name: copy non-regression test vectors
        if: inputs.copy_regression_files != ''
        run: ${{ inputs.copy_regression_files }}

      - run: flutter test --concurrency 1 -x redis # exclude redis tests (no docker for macos)
        env:
          REDIS_HOST: redis
          REDIS_PORT: 6379

      - name: Check build iOS
        run: |
          otool -Tv ios/libcloudproof.a || true
          nm -g ios/libcloudproof.a || true
          cd example
          flutter build ios --release --no-codesign
          cd ..

      - name: Check build iOS size
        run: |
          # the dart package must not be greater than 100M
          file_path="ios/libcloudproof.a"
          threshold_size=$((80 * 1024 * 1024)) # 80MB to make sure the package is publishable

          if [ -f "$file_path" ]; then
            file_size=$(stat -f %z "$file_path")
            if [ "$file_size" -gt "$threshold_size" ]; then
              echo "File size exceeds 80M: $file_path"
              exit 1  # Fails the test with a non-zero exit code
            fi
          else
            echo "File not found: $file_path"
            exit 1  # Fails the test with a non-zero exit code
          fi
